.login_header{
    display:flex;
    justify-content: center;
    margin-top:50px;
}

.login-container {
    width: 400px;
    padding: 30px;
    background-color: var(--background-top);
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.input-container input {
    margin-top:20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--border);
    width: 90%;
    background-color: var(--background);
    color:var(--text);
    font-size:14px;
}


.input-container label {
    margin-top:16px;
    position: absolute;
    left: 20px;
    top: 10px;
    transition: 0.3s;
    pointer-events: none;
    color: var(--light-text);
}

.input-container input:placeholder-shown + label {
    top: 10px;
    font-size: 16px;
}

.input-container input:not(:placeholder-shown) + label,
.input-container input:focus + label {
    left:10px;
    top: -20px;
    font-size: 12px;
    color: #4CAF50;
}

.login-container input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    transition-duration: 0.4s;
    
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

.group {
    display: flex;
    justify-content: space-between;
}

.group .input-container {
    flex: 1;
    margin-right: 10px;
}

.group .input-container input{
    width:80%
}

.group .input-container:last-child {
    margin-right: 0;
}

.error-msg{
    margin-left:5px;
    color:#b20000; /* Darker shade of red */
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link p {
    font-size: 16px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    color: #0056b3;
    text-decoration: underline;
}