@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* Default mode (can be light or dark) */
    --background: #ffffff;
    --text: #24292e;
    --light-text: #3c3c3c;
    --border: #e1e4e8;
    --background-top: #f8f9fa;
    --green:#4CAF50;
}

body[data-theme='light'] {
    --background: #ffffff;
    --text: #24292e;
    --light-text: #a2a2a2;
    --border: #e1e4e8;
    --background-top: #f8f9fa;
    
}

body[data-theme='dark'] {
    --background: #0d1117;
    --text: #c9d1d9;
    --light-text: #888888;
    --border: #30363d;
    --background-top: #161b22;
}

body {
    background-color: var(--background);
    color: var(--text);
    border-color: var(--border);
}